.div_footer {
  padding-bottom: 5em;
}

.footer {
  background-color: #8c52ff;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social_list li {
  margin: 0 1em;
}

.social_list svg {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.social_list svg:hover {
  transform: scale(1.2);
}

.copy_right {
  margin-top: 1em;
}

.copy_right span {
  font-weight: bold;
}

.copy_right a {
  color: #fff;
  text-decoration: none;
}

.copy_right a:hover {
  text-decoration: underline;
}
