.footer {
    background-color: #8c52ff;
    color: #fff;
    padding: 1em;
    text-align: center;
    height: 100vw;
    width: 100%;
    height: 5em;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .social_list li {
    margin: 0 1em;
  }
  
  .social_list li:hover {
    color: #8f33e0;
    ;
  }
  
  .social_list svg {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .copy_right {
    margin-top: 1em;
  }
  
  .copy_right span {
    font-weight: bold;
    color: #fff;
    ;
  }