.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
  color: #fff;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
}

.button1 {
  font-size: 1rem;
  background-color: #8c52ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 1em;
  margin-right: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

.button1:hover {
  background-color: #523097;
}
