.home_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  .home_container h1 {
    font-size: 5em;
    margin-right: 3em;
    font-family: 'Montserrat', sans-serif;
}

  .home_container img {
    width: 28em;
    margin: 5em auto;
}