.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #8c52ff;
    padding: 0.2em;
    width: 99,9%;
  }
  
  .list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .item {
    margin-right: 1em;
  }
  
  .item a {
    color: #fff;
    text-decoration: none;
  }

  ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#8f33e0;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }