.styled-table {
    border-collapse: collapse;
    margin: 50px auto;
    font-size: 1.5em;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fff;
    border-radius: 1em;
    overflow: hidden;
    /* font-weight: bold; */
}
.styled-table thead tr {
    background-color: #8c52ff;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #21143b;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #140c25;
}

.container-tabela {
    margin: 0 auto;
}

.btn-nova {
    border: none;
    border-radius: 10px;
    color: #000000;
    /* text-transform: uppercase; */
    max-width: 100px;
    background: #e6e1fc;
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    /* background-color: rgb(255, 255, 255);
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    /* margin-left: 20rem; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
.btn-nova:hover {
    color: #ffffff;
    background: #21143b;
    font-size: 16px;
    box-shadow: 
    0 0 7px #fff,
    0 0 10px #fff;;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.container-botao {
    /* padding: 0.5rem 1rem;
    margin-top: 5em; */
    /* margin-bottom: -5em; */
}

.container-tudo {
    background-color: #412a6e;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40vh;
    padding: 5em 10em 5em 5em;
    width: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}

.link-editar {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.link-editar:hover{
    color: #8c52ff;
}

.btn-apagar{
    background-color: #fff;
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn-apagar:hover{
    color: #fff;
    background-color: #d81900;
    border: 1px solid #d81900;
}