.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.texto {
    font-size: 4.0em;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    margin-right: 4em;
}

.imagem {
    width: 45%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .texto {
        font-size: 2em;
    }

    .imagem {
        width: 80%;
        max-width: 300px;
        margin-top: 1em;
    }
}