.nova-aula h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
    color: #fff;
}

.form-control input,
.form-control textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none
}

select {
    width: 100%;
    border: 1px solid;
    border-radius: 0.4em;
    padding: 0.25em 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn2 {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #6a7dfe;
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
}

.btn2:hover {
    color: #000000;
    background-color: #8a9aff;
    font-weight: bold;
}