.participantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.participante {
    text-align: center;
    margin: 4em;
}

.participante img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.participante h2 {
    margin-top: 10px;
    font-size: 1.4em;
}

.titulo {
    text-align: center;
    color: #fff;
}

.nome {
    color: #fff;
}